<%= link_to classroom, title: "Enter classroom", class: "box center btn btn-lg btn-success" do %>
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 
  <span>
    <%= classroom.name %>	
  </span>
<% end %>

