<div class="center jumbotron">
  <h1> Welcome to Marmoset online App </h1>
  <h2>Users list</h2>
  <% @user_list.each do |user| %>
    <p> <%= user.username %></p>
  <% end %>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>


