<h1> Welcome <%= current_user.name %>! </h1>

<%= link_to classrooms_path, title: "Join Classroom", class: "btn btn-lg btn-primary", id: "newClass" do %>
  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
<% end %>

<%= render 'shared/drop_down_form' %>

<div class="row">
  <%= render current_user.classrooms %>
</div>

