<%= form_for @document, :html => {class: "form-horizontal center"} do |f| %>

    <div class="form-group">
      <%= f.text_field :name, class: "form-control", placeholder: "Document name" %>
    </div>

    <div class="form-group">
      <%= f.text_area :content, class: "form-control", placeholder: "Content" %>
    </div>

    <%= f.submit "Save document", class: "btn btn-lg btn-primary" %>

<% end %>
