<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h1> Work Faster </h1>
    </div>

    <div class="item">
      <h1> Learn Better </h1>
    </div>

    <div class="item">
      <h1> Study Further </h1>
    </div>

    <div class="item">
      <h1> Share Smarter. </h1>
    </div>
  </div>
</div>

<script>
$('.carousel').carousel({
  interval: 1000 * 3.3
});
</script>
