<%= link_to document, title: "Show document", class: "box center btn btn-lg btn-primary" do %>
  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> 
  <span>
    <%= document.name %>
  </span>
<% end %>

