<%= link_to edit_document_path(@document), title: "Edit", class: "btn btn-lg btn-success", id: "editButton" do %>
  Edit
<% end %>

<div class="container document">
  <h1> <%= @document.name %> </h1>
  <p>
  <%= simple_format @document.content %>
  </p>
</div>
